
  <div class="body">
    
  <h1 class="h3">Loan Calculator</h1>

  <div class="h3">

<form action="" >


  <div class="form-floating">
    <label for="floatingInput" class="label">Loan Amount</label><p></p>
    <input type="text" class="form-control" id="floatingInput" oninput="this.value = this.value.replace(/[^0-9]/g, '');" [(ngModel)]="loan.loanAmount"  name="amount" placeholder="loan amount" required>
    
  </div>
  <div class="form-floating">
    <label for="floatingInput" class="label">Loan Term</label><p></p>
    <input type="text" class="form-control" id="floatingInput" oninput="this.value = this.value.replace(/[^0-9]/g, '');"  [(ngModel)]="loan.payBackTimeInYears" name="duration" placeholder="pay back time in years" required>

  </div>

  <div class="form-floating">
    <label for="floatingInput" class="label">Loan Type</label><p></p>
    <select [(ngModel)]="loan.loanType" class="form-control" name="loantype">
      <option value="HOUSING_LOAN">HOUSING LOAN</option>
    </select>
    
  </div>

  <div class="form-floating">
    <label for="floatingInput" class="label">Loan Curency</label><p></p>
    <select [(ngModel)]="loan.currency" class="form-control" name="currency">
      <option value="EUR">EUR</option>
      <option value="USD">USD</option>
    </select>
  </div>
  
  <button class="button-18" type="submit" (click)="calculateLoan()">calculate</button>

</form>
  </div>
  <p class="box"></p>
<div *ngIf="showForm">
  <!-- New form here -->
  <form>
    <div class="form-floating">
      <label for="floatingInput">Plan periodicity</label><p></p>
      <label type="text" class="form-control" id="floatingInput">{{payBackPlan.periodicity}}</label>
    </div>

    <div class="form-floating">
      <label for="floatingInput">Pay Back Amount</label><p></p>
      <label type="text" class="form-control" id="floatingInput">{{payBackPlan.paybackAmount}}</label>
    </div>

    <div class="form-floating">
      <label for="floatingInput">Interest</label><p></p>
      <label type="text" class="form-control" id="floatingInput">{{payBackPlan.interest}}</label>
    </div>

    <div class="form-floating">
      <label for="floatingInput">Currency</label><p></p>
      <label type="text" class="form-control" id="floatingInput">{{payBackPlan.currency}}</label>
    </div>
  </form>
</div>

  


</div>
